@model GarageV2.ViewModels.AddOrEditViewModel
@{
    ViewData["Title"] = "Create";
}
<h4>Parkera ditt Fordon</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="RegNo" class="control-label"></label>
                    <input asp-for="RegNo" class="form-control" />
                    <span asp-validation-for="RegNo" class="text-danger"></span>
                    <span id="RegNoStatus" class="badge"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FormattedParkedVehicleTypes" class="control-label"></label>
                    <select asp-for="VehicleTypeId" asp-items="@Model.FormattedParkedVehicleTypes" class="form-control"></select>
                    <span asp-validation-for="ParkedVehicleTypes" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

                <div class="form-row">
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control">
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="NoWheels" class="control-label"></label>
                    <input asp-for="NoWheels" class="form-control" />
                    <span asp-validation-for="NoWheels" class="text-danger"></span>
                </div>
            </div>

            @*
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
            *@
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fas fa-car"></i> Spara
                    </button>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fas fa-warehouse"></i> Till Parkeringen</a>
                </div>
            </div>
            <input asp-for="CheckIn" type="hidden" />
            <input asp-for="AlreadyParked" type="hidden" />
            <input asp-for="Id" type="hidden" />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
