@model DetailVehicleViewModel

@{
    ViewData["Title"] = "Parked Vehicle Details";
}

<h4>Parkerat fordon</h4>
<hr />

<div>
    <partial name="_ParkedVehicleInfo" model="Model" />
</div>

<div>
    <a asp-action="Index">Tillbaka till Parkerade Fordon</a>
</div>
