@model MemberAddOrEditViewModel

@{
    ViewData["Title"] = "Add or Edit Member";
}

<h4>Registrering av Medlem</h4>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="AddOrEdit">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" disabled="@(Model.IsEditMode)" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

            </div>

            @if (!Model.IsEditMode)
            {

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label class="control-label" asp-for="Password"></label>
                        <input class="form-control" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label" asp-for="PasswordVerify"></label>
                        <input class="form-control" asp-for="PasswordVerify" />
                        <span asp-validation-for="PasswordVerify" class="text-danger"></span>
                    </div>

                </div>

            }

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fas fa-user-tie"></i> Spara
                    </button>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fas fa-address-card"></i> Till Medlemslistan</a>
                </div>
            </div>

            <input asp-for="Id" type="hidden" />
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
