@page
@model IndexModel
@{  
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div id="home-page-bg" class="fill-screen"></div>
    </div>
</div>

<script>
    $(function(){
        $(window).on("load resize", function(){
            $("#home-page-bg").css("height", window.innerHeight);
            $("#home-page-bg").css("width", window.innerWidth);
        });
    });
</script>