@page
@model VehicleDetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Vehicle Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-10 col-mb-10">
            <dl>
                <dt>Brand:</dt>
                <dd>@Model.VehicleDetails.Brand</dd>
                <dt>Model:</dt>
                <dd>@Model.VehicleDetails.Model</dd>
                <dt>Number of Wheels:</dt>
                <dd>@Model.VehicleDetails.NoWheels</dd>
            </dl>
            <a asp-page="ParkedVehicles">Parked vehicles</a>
        </div>
    </div>
</div>

