@page
@model VehicleDetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Vehicle Details</h1>
    <dl>
        <dt>Brand:</dt>
        <dd>@Model.ParkedVehicle.Brand</dd>
        <dt>Model:</dt>
        <dd>@Model.ParkedVehicle.Model</dd>
        <dt>Number of Wheels:</dt>
        <dd>@Model.ParkedVehicle.NoWheels</dd>
    </dl>
</div>

