@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" id="home-page-bg">
    <div id="container" class="container-fluid">

        <div class="row">

            <div class="col-md-6">

                <div class="white-content-holder">
                    <h4>Priser</h4>
                    <ul>
                        <li><strong>Privat Kunder: </strong>600 kr per timme</li>
                    </ul>
                    <p>
                        Exempel: Ni parkerar 2:08 och betalar då 1280 kr.
                    </p>
                </div>


            </div>

            <div class="col-md-6">

                <div class="white-content-holder">
                    <h4>Garaget V2</h4>
                    <p>Är byggt i ASP .NET Core , CSS3 och Bootstrap !</p>
                    
                </div>

            </div>
        </div>
        <div class="container-fluid col-lg-12" id="built-with-icons">
            <div class="row">
                <div class="col-lg-3">
                    <img src="~/img/dotnet-core-logo.jpg" class="img-responsive"height="80">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12">
                    <img src="~/img/css3.png" class="img-responsive"height="80">
                </div>
                   <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12">
                    <img src="~/img/bootstrap.png" class="img-responsive" height="80">
                </div>
                   <div id="bs">
                       <h4>Supergarage ala addidas bombers ! Och Pumma med 2 M !</h4>
                </div>
            </div>
        </div>
    </div>
</div>
